@font-face {
    font-family: 'Gotham';
    src:url('../asses/fonts/Gotham-Medium_gdi.eot'); /* IE9 Compat Modes */
    src:url('../asses/fonts/Gotham-Medium_gdi.woff') format('woff'), /* Pretty Modern Browsers */
        url('../asses/fonts/Gotham-Medium_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../asses/fonts/Gotham-Medium_gdi.svg#Gotham-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham';
    src:url('../asses/fonts/Gotham-Bold_gdi.eot'); /* IE9 Compat Modes */
    src:url('../asses/fonts/Gotham-Bold_gdi.woff') format('woff'), /* Pretty Modern Browsers */
        url('../asses/fonts/Gotham-Bold_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../asses/fonts/Gotham-Bold_gdi.svg#Gotham-Bold') format('svg'); /* Legacy iOS */
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham';
    src:url('../asses/fonts/Gotham-Light_gdi.eot'); /* IE9 Compat Modes */
    src:url('../asses/fonts/Gotham-Light_gdi.woff') format('woff'), /* Pretty Modern Browsers */
        url('../asses/fonts/Gotham-Light_gdi.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../asses/fonts/Gotham-Light_gdi.svg#Gotham-Medium') format('svg'); /* Legacy iOS */
    font-weight: lighter;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


#carousel-example-generic img{
    width: 65%;
    height: auto;
    border-radius: 20px;
}


h1, h2, h3, h4, h5, h6{
    font-family: Gotham;   
}

p{
    font-family: Gotham;
    font-weight: lighter;
}

a{
    font-family: Gotham;
    font-weight: lighter;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

button{
    font-family: Gotham;
    font-weight: lighter;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing {
    margin-top: 3em;
}

.featurette {
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.cta-field {
    margin-top: 3em;
    background-image: url("../asses/img/topo.png");
    background-size: 25%;
    background-color: #f2f2f2;
}

.my-navbar {
    height: 5em;
}

.navbar ul a{
/*    font-size: 0.75vw;   */
    font-size: 10px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.navbar-content {
    /*position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.featurette-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 480px;
    min-width: 360px;
    height: auto;
}

.cta-button {
    background-color: #45BF55;
/*    margin-right: 9em;*/
}

.cta-button:hover{
    background-color: #167F39;
}

.quotes {
    margin-top: 8%;
}

.description {
    margin-top: 6%;
}

.marketing-pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-butt {
    width: 110px;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.section-4 {
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%;
    background-image: url("../asses/img/topo.png");
    background-size: 25%;
    background-color: #f2f2f2;
}

.staff-pics:hover {
    opacity: 0.8;
    cursor: pointer; 
    cursor: hand;
}

#circles{
    position: relative;
    width: 150px;
    max-width: 150px;
    height: 150px;
    max-height: 150px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 150px;
    margin: 150px;
}
.div2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 220px;
}

.div2:hover {
    opacity: 0.8;
    cursor: pointer; 
    cursor: hand;
}

body {
    padding-top: 70px;
    position: relative;
    overflow-x: hidden;
}

#section-5-pics {
    width: 100%;
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.section-3 {
    border: 1px solid #ddd;
    margin-top: 3em;
}

.marketing-pics + h2{
    text-align: center;
}

.section-6 {
    margin-top: 6em;
}

#left{
    left: 20%;
    width: auto;
}

#right{
    right: 20%;
    width: auto;
}

.carousel-indicators{
    bottom: 0; 
}

.gallery {
}

.quad-2 {
/*
    max-height: 480px;
    max-width: 720px;
*/
}

.quad-1 {
    padding: 0px;
    margin: 0px;
/*
    max-height: 480px;
    max-width: 240px;
*/
}

.quad-3-4 {
    margin: 0;
    padding: 0;
/*
    max-height: 240px;
    max-width: 960px;
*/
}

.gallery-pics {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.gallery-pics h3{
    font-size: 1.9vw;
    position: absolute;
}

.gallery-pics p{
    font-size: 1.9vw;
    position: absolute;
}

.section-5 {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}



.my-cap {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.logo img{
    width: 50px;
}

.gallery-pics .overbox {
    height: 100%;
    width: 100%;
    background-color: #304562;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    padding: 25% 25%;
}

/*.gallery-pics:hover .overbox { opacity: 1; }*/
.gallery-pics .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.gallery-pics .title {
    font-size: 2.5em;
    text-align: center; 
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.gallery-pics:hover .title,
.gallery-pics:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.gallery-pics .tagline {
    text-align: center;
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.gallery-pics:hover .tagline,
.gallery-pics:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}


.sq-pic {
    max-height: 360px;
    max-width: 360px;
    margin: 0;
    padding: 0;
}

.rec-pic {
    max-height: 720px;
    max-width: 240px;
    margin: 0;
    padding: 0;
}



.staff-pics {
    max-height: 140px;
    max-width: 140px;
/*    border: 1px solid #ddd;*/
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
}



.bot-staff-pic {
    margin-top: 1em;
/*    margin-left: 9em;*/
    margin-left: 8.8vw;
}

.bot-caption {
    width: 120px;
    margin-left: 10.0vw;
    text-align: center;
}

.animated:hover .pulse{
}

/* Wobble Skew */
/*@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
*/
/*.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}*/

/*
.img-1 {
    padding: 0.5em;
    max-width: 23em;
}

.img-2 {
    padding: 0.5em;
}

.img-3 {
    padding: 0.5em;
}

.img-4 {
    padding: 0.25em;
    height: inherit;
}
*/

.overlay {
/*
    position: relative;
    display: inline-block;
*/
}



.social-media {
/*
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #999;
    background: rgba(0,0,0,0.3);
    text-align: center;
*/
}

.overlay:hover .social-media{
/*    display: block;*/
}

.info-img-1 {
    position: relative;
}

.info-img-2 {
    position: relative;
}

.info-img-1 span{
    position: absolute;
    top: 90%;
    left: 80%;
}

.info-img-2 span{
    position: absolute;
    top: 80%;
    left: 80%;
}

span.glyphicon-info-sign{
/*    font-size: 3.2em;*/
    font-size: 3.8vw;
}

span.glyphicon-info-sign:hover{
    opacity: 0.8;
    cursor: pointer; 
    cursor: hand;
}

/*
.info-button:hover{
    opacity: 0.8;
    cursor: pointer; 
    cursor: hand;
}
*/

.white, .white a {
    color: #fff;
}

.gallery-1 {
    width: 74%;
}


.gallery-wrapper {
}

.section-5 img{
    padding: 4px;
    margin: 0;
}

.info {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.info::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.info:hover::before {
    background: rgba(0, 0, 0, 1);
}

.info__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.info__overlay {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.info:hover .info__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.info__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.info:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.info:hover span{
    opacity: 0;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
}

.partner-img{
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-cap h1{
/*    font-size: 30px;*/
    font-size: 4.0vw;
}

.circle {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: #eee;
    border: 1px solid #aaa;
    display: inline-block;
    position: absolute;
}

.circle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle.big {
    width: 150px;
    height: 150px;
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 100px;
}

.one {
    left: -80%;
    top: -40%;
}

.one:hover{
    opacity: 0.8;
    cursor: pointer; 
    cursor: hand;
}

.two {
/*    top: -120%;*/
    top: -90%;
    left: 10%;
}

.three {
    right: -80%;
    top: -40%;
}


.four {
    left: -80%;
    bottom: -40%;
}

.five {
    bottom: -90%;
    left: 10%;
}

.six {
    right: -80%;
    bottom: -40%;
}

/* In case I need it */

@media(max-width:767px){
    .section-6 {
        margin-top: 3em;
    }
    
    .circle{
        width: 110px;
        height: 110px;
    }
    .circle.big{
        width: 130px;
        height: 130px;
    }
    .one {
        left: -80%;
        top: -40%;
    }
    
    .two {
        top: -90%;
        left: 10%;
    }
    
    .three {
        right: -80%;
        top: -40%;
    }
    
    
    .four {
        left: -80%;
        bottom: -40%;
    }
    
    .five {
        bottom: -90%;
        left: 10%;
    }
    
    .six {
        right: -80%;
        bottom: -40%;
    }
    /*#circles{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: 100px;
    }
    .div2 {
        width: 66px;
        height: 66px;
        border-radius: 115px;
    }*/

    .featurette-image {
        width: 360px;
        min-width: 240px;
        height: auto;
    }
}
@media(min-width:768px){
    #circles{
        width: 120px;
        height: 120px;
        border-radius: 120px;
        margin: 120px;
    }
    .div2 {
        width: 80px;
        height: 80px;
        border-radius: 280px;
    }
}
@media(min-width:992px){
    #circles{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        margin: 150px;
    }
    .div2 {
        width: 100px;
        height: 100px;
        border-radius: 220px;
    }
/*
    .gallery-pics h3{
        font-size:     
    }
*/
}
@media(min-width:1200px){}





.circle-cont {
    min-height: 360px;
}

.partners-text {
    text-align: left;
    margin-top: 2em;
}





/*
.social-media-overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.social-media-overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.staff-pics:hover .social-media-overlay {
  opacity: 1;
}
.staff-pics:hover .social-media-overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
.staff {
    position: relative;
}
*/

.top-caption {
    margin-left: 1.1em;
}





.cta-content {
    text-align: center;
    padding-top: 6em;
}

.cta-content button{
    margin-top: 3em;
    margin-bottom: 9em;
}
